tls.*
oauth_id.txt
oauth_secret.txt
basic_auth.htpasswd
ca.crt
ca.key
server.crt
server.key
server.csr
client.crt
client.key
client.csr
*.terraform
*.tfstate
*.tfstate.*
*.tfvars
client_id.txt
client_secret.txt
sp_id.txt
tenant_id.txt
group_id.txt
oidc_issuer_url.txt
external_cert_root_ca.pem
external_cert_chain.pem
